@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .row .col.s7 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.s5 {
    width: 70%;
    margin: 0 auto;
  }
}
